doctype html
html(lang="en" ng-app="app")
  head
    title Github Webhooks
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src= "application.js")
    script(type="text/javascript", src= "angular-ui-router.min.js")
    script(type="text/javascript", src= "routes/routes.js")

    body
      div(ui-view)
      //- a(ui-sref="login") login
      //-   p Yo! #{user}
      //- if user
        img(src= "#{avatar}", style="width:100px%; height:100px;")
        a(href="/repos") Show me my repos!
      //- else
      //-   a(href="/auth/github") Login