doctype html
html(lang="en" ng-app="app")
  head
    title Github Webhooks
    link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src= "/angular-ui-router.min.js")
    script(type="text/javascript", src= "/ui-bootstrap-tpls.min.js")
    script(type="text/javascript", src= "/socket.io.js")
    script(type="text/javascript", src= "/application.js")
    script(type="text/javascript", src= "/routes.js")
    script(type="text/javascript", src= "/service/user.js")
    script(type="text/javascript", src= "/controllers/projects.js")
    script(type="text/javascript", src= "/controllers/events.js")
    body
      div(ui-view)
